<div>
  <h2 id="page-heading" data-cy="BudgetTemplateHeading">
    <span jhiTranslate="quotizoApp.budgetTemplate.home.title">Budget Templates</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="quotizoApp.budgetTemplate.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-budget-template"
        [routerLink]="['/budget-template/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="quotizoApp.budgetTemplate.home.createLabel">Create a new Budget Template</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <jhi-filter [filters]="filters"></jhi-filter>

  @if (budgetTemplates?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="quotizoApp.budgetTemplate.home.notFound">No Budget Templates found</span>
    </div>
  }

  @if (budgetTemplates && budgetTemplates.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [sortState]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="name">
              <div class="d-flex">
                <span jhiTranslate="quotizoApp.budgetTemplate.name">Name</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="description">
              <div class="d-flex">
                <span jhiTranslate="quotizoApp.budgetTemplate.description">Description</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="startDate">
              <div class="d-flex">
                <span jhiTranslate="quotizoApp.budgetTemplate.startDate">Start Date</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="endDate">
              <div class="d-flex">
                <span jhiTranslate="quotizoApp.budgetTemplate.endDate">End Date</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="estimatedDurationDays">
              <div class="d-flex">
                <span jhiTranslate="quotizoApp.budgetTemplate.estimatedDurationDays">Estimated Duration Days</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="durationMonths">
              <div class="d-flex">
                <span jhiTranslate="quotizoApp.budgetTemplate.durationMonths">Duration Months</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="monthlyHours">
              <div class="d-flex">
                <span jhiTranslate="quotizoApp.budgetTemplate.monthlyHours">Monthly Hours</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="plannedHours">
              <div class="d-flex">
                <span jhiTranslate="quotizoApp.budgetTemplate.plannedHours">Planned Hours</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="resourceCount">
              <div class="d-flex">
                <span jhiTranslate="quotizoApp.budgetTemplate.resourceCount">Resource Count</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="income">
              <div class="d-flex">
                <span jhiTranslate="quotizoApp.budgetTemplate.income">Income</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="otherTaxes">
              <div class="d-flex">
                <span jhiTranslate="quotizoApp.budgetTemplate.otherTaxes">Other Taxes</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="descriptionOtherTaxes">
              <div class="d-flex">
                <span jhiTranslate="quotizoApp.budgetTemplate.descriptionOtherTaxes">Description Other Taxes</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="withholdingTaxes">
              <div class="d-flex">
                <span jhiTranslate="quotizoApp.budgetTemplate.withholdingTaxes">Withholding Taxes</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="modAndCifCosts">
              <div class="d-flex">
                <span jhiTranslate="quotizoApp.budgetTemplate.modAndCifCosts">Mod And Cif Costs</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="grossProfit">
              <div class="d-flex">
                <span jhiTranslate="quotizoApp.budgetTemplate.grossProfit">Gross Profit</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="grossProfitPercentage">
              <div class="d-flex">
                <span jhiTranslate="quotizoApp.budgetTemplate.grossProfitPercentage">Gross Profit Percentage</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="grossProfitRule">
              <div class="d-flex">
                <span jhiTranslate="quotizoApp.budgetTemplate.grossProfitRule">Gross Profit Rule</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="absorbedFixedCosts">
              <div class="d-flex">
                <span jhiTranslate="quotizoApp.budgetTemplate.absorbedFixedCosts">Absorbed Fixed Costs</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="otherExpenses">
              <div class="d-flex">
                <span jhiTranslate="quotizoApp.budgetTemplate.otherExpenses">Other Expenses</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="profitBeforeTax">
              <div class="d-flex">
                <span jhiTranslate="quotizoApp.budgetTemplate.profitBeforeTax">Profit Before Tax</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="estimatedTaxes">
              <div class="d-flex">
                <span jhiTranslate="quotizoApp.budgetTemplate.estimatedTaxes">Estimated Taxes</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="estimatedNetProfit">
              <div class="d-flex">
                <span jhiTranslate="quotizoApp.budgetTemplate.estimatedNetProfit">Estimated Net Profit</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="netMarginPercentage">
              <div class="d-flex">
                <span jhiTranslate="quotizoApp.budgetTemplate.netMarginPercentage">Net Margin Percentage</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="netMarginRule">
              <div class="d-flex">
                <span jhiTranslate="quotizoApp.budgetTemplate.netMarginRule">Net Margin Rule</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="commissionToReceive">
              <div class="d-flex">
                <span jhiTranslate="quotizoApp.budgetTemplate.commissionToReceive">Commission To Receive</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="active">
              <div class="d-flex">
                <span jhiTranslate="quotizoApp.budgetTemplate.active">Active</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="createdBy">
              <div class="d-flex">
                <span jhiTranslate="quotizoApp.budgetTemplate.createdBy">Created By</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="createdDate">
              <div class="d-flex">
                <span jhiTranslate="quotizoApp.budgetTemplate.createdDate">Created Date</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="lastModifiedBy">
              <div class="d-flex">
                <span jhiTranslate="quotizoApp.budgetTemplate.lastModifiedBy">Last Modified By</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="lastModifiedDate">
              <div class="d-flex">
                <span jhiTranslate="quotizoApp.budgetTemplate.lastModifiedDate">Last Modified Date</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="country.id">
              <div class="d-flex">
                <span jhiTranslate="quotizoApp.budgetTemplate.country">Country</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (budgetTemplate of budgetTemplates; track trackId) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/budget-template', budgetTemplate.id, 'view']">{{ budgetTemplate.id }}</a>
              </td>
              <td>{{ budgetTemplate.name }}</td>
              <td>{{ budgetTemplate.description }}</td>
              <td>{{ budgetTemplate.startDate | formatMediumDate }}</td>
              <td>{{ budgetTemplate.endDate | formatMediumDate }}</td>
              <td>{{ budgetTemplate.estimatedDurationDays }}</td>
              <td>{{ budgetTemplate.durationMonths }}</td>
              <td>{{ budgetTemplate.monthlyHours }}</td>
              <td>{{ budgetTemplate.plannedHours }}</td>
              <td>{{ budgetTemplate.resourceCount }}</td>
              <td>{{ budgetTemplate.income }}</td>
              <td>{{ budgetTemplate.otherTaxes }}</td>
              <td>{{ budgetTemplate.descriptionOtherTaxes }}</td>
              <td>{{ budgetTemplate.withholdingTaxes }}</td>
              <td>{{ budgetTemplate.modAndCifCosts }}</td>
              <td>{{ budgetTemplate.grossProfit }}</td>
              <td>{{ budgetTemplate.grossProfitPercentage }}</td>
              <td>{{ budgetTemplate.grossProfitRule }}</td>
              <td>{{ budgetTemplate.absorbedFixedCosts }}</td>
              <td>{{ budgetTemplate.otherExpenses }}</td>
              <td>{{ budgetTemplate.profitBeforeTax }}</td>
              <td>{{ budgetTemplate.estimatedTaxes }}</td>
              <td>{{ budgetTemplate.estimatedNetProfit }}</td>
              <td>{{ budgetTemplate.netMarginPercentage }}</td>
              <td>{{ budgetTemplate.netMarginRule }}</td>
              <td>{{ budgetTemplate.commissionToReceive }}</td>
              <td>{{ budgetTemplate.active }}</td>
              <td>{{ budgetTemplate.createdBy }}</td>
              <td>{{ budgetTemplate.createdDate | formatMediumDatetime }}</td>
              <td>{{ budgetTemplate.lastModifiedBy }}</td>
              <td>{{ budgetTemplate.lastModifiedDate | formatMediumDatetime }}</td>
              <td>
                @if (budgetTemplate.country) {
                  <div>
                    <a [routerLink]="['/country', budgetTemplate.country.id, 'view']">{{ budgetTemplate.country.id }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a
                    [routerLink]="['/budget-template', budgetTemplate.id, 'view']"
                    class="btn btn-info btn-sm"
                    data-cy="entityDetailsButton"
                  >
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                  </a>

                  <a
                    [routerLink]="['/budget-template', budgetTemplate.id, 'edit']"
                    class="btn btn-primary btn-sm"
                    data-cy="entityEditButton"
                  >
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(budgetTemplate)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (budgetTemplates && budgetTemplates.length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems"
          [page]="page"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        ></ngb-pagination>
      </div>
    </div>
  }
</div>
